<div class="main-header">
    <h2>CIVIL DEFENSE 42</h2>
</div>

<div class="item-container">
  <div class="item">
      <p-menubar [model]="items" />
  </div>
  <div class="item centered-text fadeInOut" *ngIf="isSearching">
    <p>Wyszukiwanie nowych newsów...</p>
  </div>
  <div class="item">
    <p-button 
    class="h-full" 
    (click)="refreshPage()" 
    label="Odśwież wydarzenia" 
    icon="pi pi-refresh"
    [disabled]="isSearching">
  </p-button>
  </div>

</div>

<div *ngIf="isSearching" class="card" style="height: 6px;">
  <p-progressbar mode="indeterminate" [style]="{'height': '6px'}"/>
</div>
  


