<div class="overflow-x-auto">
  <table class="min-w-full text-sm text-left text-gray-800 border">
    <thead class="bg-gray-100">
      <tr>
        <th class="p-2 w-10"></th>
        <th class="p-2 cursor-pointer" (click)="sortBy('weight')">▲▼ Waga</th>
        <th class="p-2 cursor-pointer" (click)="sortBy('title')">Tytuł</th>
        <th class="p-2">▲▼ Czas utworzenia</th>
        <th class="p-2 cursor-pointer" (click)="sortBy('description')">Wydarzenie</th>
        <th class="p-2">▲▼ Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let event of sortedEvents">
        <tr [class.bg-green-100]="event.acknowledged" class="border-t">
          <td class="p-2 text-center">
            <button (click)="toggleExpanded(event)">
              {{ isExpanded(event) ? '▼' : '▶' }}
            </button>
          </td>
          <td [ngClass]="{ 'acknowledged-row': event.acknowledged }" class="p-2">{{ event.weight }}</td>
          <td [ngClass]="{ 'acknowledged-row': event.acknowledged }" class="p-2">{{ event.title }}</td>
          <td [ngClass]="{ 'acknowledged-row': event.acknowledged }" class="p-2">{{ event.createdAt }}</td>
          <td [ngClass]="{ 'acknowledged-row': event.acknowledged }" class="p-2">{{ event.description }}</td>
          <td class="p-2">
            <input type="checkbox" [checked]="event.acknowledged" (change)="onCheckboxChange($event, event)"/>
            <p-dialog header="Potwierdzenie" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
              <span class="p-text-secondary block mb-8">Czy jesteś pewien, że chcesz potwierdzić status?</span>
            
          
              <div class="flex justify-end gap-2">
                  <p-button label="NIE" severity="secondary" (click)="cancelChange(event)"/>
                  <p-button label="TAK" (click)="confirmChange(); event.acknowledged = true" />
              </div>
          </p-dialog>
          </td>
        </tr>
        <tr *ngIf="isExpanded(event)" class="bg-gray-50 text-gray-600">
          <td colspan="7" class="p-2 border-t">
            <strong>Expanded for {{ event.title }}</strong>
            <event-details [event]="event"></event-details>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
