.acknowledged-row {
    opacity: 0.5;
    pointer-events: none;
  }

  tbody tr:hover {
    background-color: #bacfcbee; /* lub dowolny kolor */
    cursor: pointer;
  }
  
  .height-class {
    height: 100px;
  }