<div class="card">
  <p-table
  [value]="events"

  dataKey="id"
  [tableStyle]="{ 'min-width': '60rem' }"
  [expandedRowKeys]="expandedRows"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)"
>

  <!-- Nagłówek tabeli -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem"></th>
      <th pSortableColumn="weight">Waga wydarzenia <p-sortIcon field="weight" /></th>
      <th pSortableColumn="title">Tytuł <p-sortIcon field="title" /></th>
      <th>Czas utworzenia wydarzenia</th>
      <th pSortableColumn="location">Lokacja <p-sortIcon field="location" /></th>
      <th pSortableColumn="description">Wydarzenie <p-sortIcon field="description" /></th>
      <th>Status</th>
    </tr>
  </ng-template>

  <!-- Wiersze tabeli -->
  <ng-template pTemplate="body" let-event let-expanded="expanded">
    <tr >
      <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="event"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td>{{ event.weight }}</td>
      <td>{{ event.title }}</td>
      <td>{{ event.createdAt }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.description }}</td>
      <td>
        <p-checkbox [(ngModel)]="event.acknowledged" [binary]="true" />
      </td>
    </tr>
  </ng-template>

  <!-- Rozszerzony wiersz -->
  <ng-template pTemplate="rowexpansion" let-event>
    <event-details [event]="event"></event-details>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">There are no details for this event yet.</td>
      </tr>
    </ng-template>
  </ng-template>
</p-table>
</div>
