.map-container {
    margin-top: 5px;
    display: flex;              /* Używamy Grid */
    justify-content: center;       /* Wyśrodkowanie zarówno poziome, jak i pionowe */              /* Ustawiamy wysokość na 100% widocznej wysokości ekranu */
  }
  
  #map {
    width: 80%;                 /* Szerokość mapy (możesz dostosować) */
    height: 400px;              /* Wysokość mapy (możesz dostosować) */
  }

  ::ng-deep p-dialog {
    width: 250px;
  }

  .p-dialog {
    width: 500px !important;
  }

  /* .container {
    display: flex; 
  }

  .item-more-space {
    flex-grow: 8;
  }
  .item-less-space {
    flex-grow: 2;
  } */
  